/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* Default button styles */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $primary-color;
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */

  &:hover {
    background-color: mix(white, #000, 20%); /* Darken background on hover */
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* Override for hidden text */
  }

  /* Fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* Styles for dark backgrounds */
  &--inverse {
    color: $gray !important;
    border: 1px solid $light-gray !important; /* Override for border */
    background-color: #fff;

    &:hover {
      color: #fff !important;
      border-color: $gray;
    }
  }

  /* Light outline style */
  &--light-outline {
    border: 1px solid #fff !important; /* Override for border */
    background-color: transparent;
  }

  /* Information button style */
  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* Warning button style */
  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* Success button style */
  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* Danger button style */
  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* Disabled button style */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* Social buttons styles */
  $social: (facebook, $facebook-color), (twitter, $twitter-color), (google-plus, $google-plus-color), (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* Extra large button style */
  &--x-large {
    font-size: $type-size-4;
  }

  /* Large button style */
  &--large {
    font-size: $type-size-5;
  }

  /* Small button style */
  &--small {
    font-size: $type-size-7;
  }
}
