.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px; // Adjust the width as needed

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px; // Set this according to your design needs
    border-radius: 0; // Set to 0 for a square shape
    border: 3px solid black; // Set the border color and thickness

    @include breakpoint($large) {
      padding: 5px;
      border: 3px solid black; // Ensure the border is applied here as well
    }
  }
}

// New styles for the background color of the avatar container
.author__avatar-container {
  background-color: #4b0082; // Set the background color
  padding: 5px; // Optional: add padding to separate the image from the background
  border-radius: 5px; // Optional: add some border radius for a subtle effect
}
